# Homework 1 Graded Exercise:
Chapter2-2.ipynb (this file is provided only after grading) \
Use data set ‘cruise_ship_info.csv’ to predict the number of  crews required to man a cruise ship given certain  features/attributes  of   the  ship.  Use  the  

## features  
- Age,  
- TonnageGTx1000  (30.0  means  30,000 gross  tons),  
- passengersx100  (6.94  means  694  passengers),  
- lengthx100ft  (5.94  means  594  feet  length  of ship), 
- cabinsx100 (3.55 means a total of  355 cabins on the ship), 
- and spaceratio (42.64 means number of   gross  tonnage  divided  by  number  of   passengers  on ship).  

## Target variable  is  
- Crewx100  (3.55  means 355 crews on the ship). 

Use  StandardScaler  to  standardize  all  the  features  (subtracting  by  mean  and  dividing  by  standard 
deviation). \
 - Split the 158 rows of  sample into 70% training and 30% test. In train_test_split, use random_state = 0.

In [36]:
import pandas as pd

In [37]:
df = pd.read_csv("./QF634-G1-Applied Quantitative Research Methods - 11202024 - 802 PM/cruise_ship_info.csv")

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Ship_name       158 non-null    object
 1   Cruise_line     158 non-null    object
 2   Age             158 non-null    int64
 3   TonnageGTx1000  158 non-null    float64
 4   passengersx100  158 non-null    float64
 5   lengthx100ft    158 non-null    float64
 6   cabinsx100      158 non-null    float64
 7   spaceratio      158 non-null    float64
 8   crewx100        158 non-null    float64
dtypes: float64(6), int64(1), object(2)
memory usage: 11.2+ KB

In [39]:
df.head()

,Ship_name,Cruise_line,Age,TonnageGTx1000,passengersx100,lengthx100ft,cabinsx100,spaceratio,crewx100
0,Journey,Azamara,6,30.277,6.94,5.94,3.55,42.64,3.55
1,Quest,Azamara,6,30.277,6.94,5.94,3.55,42.64,3.55
2,Celebration,Carnival,26,47.262,14.86,7.22,7.43,31.80,6.70
3,Conquest,Carnival,11,110.000,29.74,9.53,14.88,36.99,19.10
4,Destiny,Carnival,17,101.353,26.42,8.92,13.21,38.36,10.00

In [40]:
X = df.drop(columns=['Ship_name', 'Cruise_line', 'crewx100'])
y = df['crewx100']

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0) 
### test_size here is 20%; random state number is a seed number -- diff seed produces diff random draws
### note 0.2*19615 = 3923 (or closest to an integer). 0.8*19615 = 15,692.
### X_train, y_train each has 15,692 rows. 
### X_test, y_test each has 3923 rows
### Latter can be checked using print(len(y_test))
print(len(X_train),len(y_train),len(X_test),len(y_test))

110 110 48 48

In [42]:
from sklearn.preprocessing import StandardScaler

# Initialize scaler
scaler = StandardScaler()
# Linear model does not need to scale y
X_train = scaler.fit_transform(X_train, y_train)
X_test = scaler.transform(X_test)  # Use transform, not fit_transform
# X_test = scaler.fit_transform(X_test)  # Use transform, not fit_transform

### Q1. Using LinearRegression in sklearn.linear.model, find R2 for training data set, and R2 score for the test data set.

In [43]:
from sklearn.linear_model import LinearRegression
Linreg = LinearRegression()  
Linreg.fit(X_train, y_train) ###training the algorithm, note regression is done without normalizing the X, y
### To retrieve the intercept:
print('Intercept (train):', Linreg.intercept_)
### To retrieving the slope:
print('Slopes (train):', Linreg.coef_)

from sklearn.metrics import r2_score
y_pred_Linreg_train = Linreg.predict(X_train)
### Fitting y using the x_train data
r2_score_Linreg_train = r2_score(y_train, y_pred_Linreg_train)

print('R2_score (train): ', r2_score_Linreg_train)
### R2_score (train) is the R-square in the linear regression involving only the training data set

Intercept (train): 7.584636363636363
Slopes (train): [-0.072877    0.26018085 -1.46912253  0.88167707  3.76943323  0.033122  ]
R2_score (train):  0.9118485946473178

In [44]:
y_pred_Linreg_test = Linreg.predict(X_test)
### Fitting y using the x_test data
r2_score_Linreg_test = r2_score(y_test, y_pred_Linreg_test)

print('R2_score (test): ', r2_score_Linreg_test)

R2_score (test):  0.957979988701403

### Q2. Now use a Ridge Regression with alpha = 0.05 and report the training and test R2 scores.

In [45]:
from sklearn import linear_model
from sklearn.metrics import r2_score

Ridge=linear_model.Ridge(alpha=.05,)
Ridge.fit(X_train, y_train)

print(f"Intercept (train):\t{Ridge.intercept_}")
print(f"Slopes (train):\t\t{Ridge.coef_}")

# predict test
y_pred_ridge_train = Ridge.predict(X_train)
r2_score_ridge_train = r2_score(y_train, y_pred_ridge_train)

print(f"R2_score (train): \t{r2_score_ridge_train}")

Intercept (train):	7.584636363636363
Slopes (train):		[-0.07197822  0.28002789 -1.40703519  0.8837327   3.68556985  0.03024898]
R2_score (train): 	0.9118349660687162

In [46]:
y_pred_ridge_test = Ridge.predict(X_test)
r2_score_ridge_test = r2_score(y_test, y_pred_ridge_test)

print(f"R2_score (test): \t{r2_score_ridge_test}")

R2_score (test): 	0.9581682510918933

### Q3. Now use a LASSO Regression with alpha = 0.01 and report the training and test R2 scores.

In [47]:
Lasso=linear_model.Lasso(alpha=0.01,)
Lasso.fit(X_train, y_train)

print(f"Intercept (train):\t{Lasso.intercept_}")
print(f"Slopes (train):\t\t{Lasso.coef_}")

y_pred_lasso_train = Lasso.predict(X_train)
r2_score_lasso_train = r2_score(y_train, y_pred_lasso_train)
print(f"R2_score (train):\t{r2_score_lasso_train}")

Intercept (train):	7.584636363636363
Slopes (train):		[-0.0532671   0.12859993 -0.83028528  0.89616769  3.26678071  0.07907695]
R2_score (train):	0.9109095096120939

In [48]:
y_pred_lasso_test = Lasso.predict(X_test)
r2_score_lasso_test = r2_score(y_test, y_pred_lasso_test)

print(f"R2_score (test): \t{r2_score_lasso_test}")

R2_score (test): 	0.9567349248625471

### Q4. Now use 4-fold cross validation (without reshuffling), on the X_train and y_train. Use Linreg and report the mean R2 scores and standard deviation of  R2 scores in the 4 cross-validation cases

In [49]:
from sklearn.model_selection import cross_val_score
scoresLinreg = cross_val_score(estimator=Linreg, X=X_train, y=y_train, cv=4)
scoresLinreg

array([0.87938812, 0.83344863, 0.94233134, 0.97065224])

In [50]:
print(f"{scoresLinreg.mean():.4f} mean R2 with a standard deviation of {scoresLinreg.std():.4f}")

0.9065 mean R2 with a standard deviation of 0.0536

### Q5.  Now  use  4-fold  cross  validation  (without  reshuffling),  on  the  X_train  and  y_train.  Use  Ridge regression  (alpha  =  0.05)  and  report  the  mean  R2  scores  and  standard  deviation  of   R2  scores  in  the 4 cross-validation cases.

In [51]:
scoresRidge = cross_val_score(estimator=Ridge, X=X_train, y=y_train, cv=4)
scoresRidge

array([0.88044283, 0.83264471, 0.94298708, 0.97064133])

In [52]:
print(f"{scoresRidge.mean():.4f} mean R2 with a standard deviation of {scoresRidge.std():.4f}")

0.9067 mean R2 with a standard deviation of 0.0538