# Project Part 1
## Imports and Data Wrangling

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.optimize import fsolve
from scipy.optimize import brentq

ois_rates = pd.read_excel("IR Data.xlsx", sheet_name = 'OIS', usecols = ["Tenor", "Product", "Rate"])

In [2]:
#tenors = ['6m', '1y', '2y', '3y', '4y', '5y', '7y', '10y', '15y', '20y', '30y']
tenors = ois_rates["Tenor"]

# Define a function to convert tenor strings to years
def tenor_to_years(tenor):
    if 'm' in tenor:
        return int(tenor.replace('m', '')) / 12
    elif 'y' in tenor:
        return int(tenor.replace('y', ''))
    else:
        return None

# Convert each tenor to years
ois_rates["years"] = [tenor_to_years(tenor) for tenor in tenors]

# Add place holder for Discount Factors and cumsum of discount factors
ois_rates[['cumsum_df','df']] = np.nan
ois_rates

   Tenor Product     Rate  years  cumsum_df  df
0     6m     OIS  0.00250    0.5        NaN NaN
1     1y     OIS  0.00300    1.0        NaN NaN
2     2y     OIS  0.00325    2.0        NaN NaN
3     3y     OIS  0.00335    3.0        NaN NaN
4     4y     OIS  0.00350    4.0        NaN NaN
5     5y     OIS  0.00360    5.0        NaN NaN
6     7y     OIS  0.00400    7.0        NaN NaN
7    10y     OIS  0.00450   10.0        NaN NaN
8    15y     OIS  0.00500   15.0        NaN NaN
9    20y     OIS  0.00525   20.0        NaN NaN
10   30y     OIS  0.00550   30.0        NaN NaN

## Solve for year 1 Discount Factor
Use the swap formula where we consider a par swap as the following:
$$
\sum_{i=1}^{n} D(0, T_i) \times \Delta_{i-1} \times L(T_{i-1}, T_i) = 1 - D(0, T_n) \\
\sum_{i=1}^{n} D(0, T_i) \times \Delta_{i-1} \times L(T_{i-1}, T_i) - (1 - D(0, T_n))= 0 \tag{1}
$$
Equation (1) can be a function of the unknown discount factor and can be used as objective function. After using Solver to find the root of equation (1), this root is the Discount Factor(df) for that year.

In [3]:
def par_swap_1y(df, ois_rate):
    """
    Return PV of payer swap i.e. PV of fixed leg minus PV of floating leg 
    FOR FIRST YEAR ONLY
    paramters:
        df: discount factor a year
        ois_rate: rate for the same year
    Assume annual payout since day count fraction is not included
    """
    return ois_rate*df - (1 - df)
    
guess = 0.99

ois_rates.at[1, 'df'] = fsolve(par_swap_1y, guess, args=(ois_rates.at[1, 'Rate']))[0]
ois_rates.at[1, 'cumsum_df'] = ois_rates.at[1, 'df']
ois_rates

   Tenor Product     Rate  years  cumsum_df        df
0     6m     OIS  0.00250    0.5        NaN       NaN
1     1y     OIS  0.00300    1.0   0.997009  0.997009
2     2y     OIS  0.00325    2.0        NaN       NaN
3     3y     OIS  0.00335    3.0        NaN       NaN
4     4y     OIS  0.00350    4.0        NaN       NaN
5     5y     OIS  0.00360    5.0        NaN       NaN
6     7y     OIS  0.00400    7.0        NaN       NaN
7    10y     OIS  0.00450   10.0        NaN       NaN
8    15y     OIS  0.00500   15.0        NaN       NaN
9    20y     OIS  0.00525   20.0        NaN       NaN
10   30y     OIS  0.00550   30.0        NaN       NaN

## Solve for 2y to 5y

In [4]:
ois_rates.at[2-1,'cumsum_df']

0.9970089730807578

In [5]:
def par_swap_2y(df, ois_rate, cumsum_df):
    """
    Return PV of payer swap i.e. PV of fixed leg minus PV of floating leg
    ONLY FOR YEARS WITH NO GAPS
    paramters:
        df: discount factor a year
        ois_rate: rate for the same year
        cumsum_df: cumulative sum of df up till the year earlier
    Assume annual payout since day count fraction is not included
    """
    sum_df = cumsum_df + df
    return ois_rate*sum_df - (1 - df)
    
guess = 0.99

for i in range(2,6):
    DF = fsolve(par_swap_2y, 
                guess, 
                args=(ois_rates.at[i,'Rate'], 
                      ois_rates.at[i-1,'cumsum_df']))[0]
    ois_rates.at[i,'df'] = DF
    ois_rates.cumsum_df = ois_rates.df.cumsum()

ois_rates

   Tenor Product     Rate  years  cumsum_df        df
0     6m     OIS  0.00250    0.5        NaN       NaN
1     1y     OIS  0.00300    1.0   0.997009  0.997009
2     2y     OIS  0.00325    2.0   1.990540  0.993531
3     3y     OIS  0.00335    3.0   2.980555  0.990015
4     4y     OIS  0.00350    4.0   3.966672  0.986117
5     5y     OIS  0.00360    5.0   4.948856  0.982184
6     7y     OIS  0.00400    7.0        NaN       NaN
7    10y     OIS  0.00450   10.0        NaN       NaN
8    15y     OIS  0.00500   15.0        NaN       NaN
9    20y     OIS  0.00525   20.0        NaN       NaN
10   30y     OIS  0.00550   30.0        NaN       NaN

# Solve for years with gaps
The sum of discount factors is known since the preceding years have OIS rates for equation (1) to be solved. However for some e.g. 7y there is a gap of year 6. In this case assume that sequendce of df from year 5 to 7 is linear. 
$$
\sum_{k=i}^{N+i} D(0, T_i) = \frac{D(0,T_i) + D(0,T_{i+N})}{2} \times (N+1)
$$
In that case the cumulative sum still can be calculated by using the average of the latest and computed years.

In [6]:
def par_swap_7y(df, i, ois_rates):
    """
    Return PV of payer swap i.e. PV of fixed leg minus PV of floating leg
    ONLY FOR YEARS WITH NO GAPS
    paramters:
        df:         discount factor a year
        i:          pointer of in ois_rate DataFrame
        ois_rate:   rate for the same year
    Assume annual payout since day count fraction is not included
    """
    known_sum = ois_rates.at[i-1, 'cumsum_df']

    N = ois_rates.at[i, 'years'] - ois_rates.at[i-1, 'years']
    ave_df = (df + ois_rates.at[i-1,'df'])/2   
    interp_sum = (N+1) * ave_df - ois_rates.at[i-1,'df']     # less the earliest term since it is in known_sum

    ois_rate = ois_rates.at[i, 'Rate']
    
    return (known_sum + interp_sum) * ois_rate - (1-df)

for i in range(6,len(ois_rates)):
    # solve for gapped df
    DF = fsolve(par_swap_7y,
                guess, 
                args=(i,ois_rates))[0]
    # get the average df and cumulative df over gap
    N = ois_rates.at[i, 'years'] - ois_rates.at[i-1, 'years']
    ave_df = (DF + ois_rates.at[i-1,'df'])/2   
    interp_sum = (N+1) * ave_df - ois_rates.at[i-1,'df']
    # assign df and cumsum_df values for this gap year
    ois_rates.at[i,'df'] = DF
    ois_rates.at[i,'cumsum_df'] = ois_rates.at[i-1,'cumsum_df'] + interp_sum 

ois_rates

   Tenor Product     Rate  years  cumsum_df        df
0     6m     OIS  0.00250    0.5        NaN       NaN
1     1y     OIS  0.00300    1.0   0.997009  0.997009
2     2y     OIS  0.00325    2.0   1.990540  0.993531
3     3y     OIS  0.00335    3.0   2.980555  0.990015
4     4y     OIS  0.00350    4.0   3.966672  0.986117
5     5y     OIS  0.00360    5.0   4.948856  0.982184
6     7y     OIS  0.00400    7.0   6.898556  0.972406
7    10y     OIS  0.00450   10.0   9.782916  0.955977
8    15y     OIS  0.00500   15.0  14.477704  0.927611
9    20y     OIS  0.00525   20.0  19.033155  0.900076
10   30y     OIS  0.00550   30.0  27.744234  0.847407

In [7]:
pd.DataFrame.interpolate?

Signature:
pd.DataFrame.interpolate(
    self,
    method: 'InterpolateOptions' = 'linear',
    *,
    axis: 'Axis' = 0,
    limit: 'int | None' = None,
    inplace: 'bool_t' = False,
    limit_direction: "Literal['forward', 'backward', 'both'] | None" = None,
    limit_area: "Literal['inside', 'outside'] | None" = None,
    downcast: "Literal['infer'] | None | lib.NoDefault" = <no_default>,
    **kwargs,
) -> 'Self | None'
Docstring:
Fill NaN values using an interpolation method.

Please note that only ``method='linear'`` is supported for
DataFrame/Series with a MultiIndex.

Parameters
----------
method : str, default 'linear'
    Interpolation technique to use. One of:

    * 'linear': Ignore the index and treat the values as equally
      spaced. This is the only method supported on MultiIndexes.
    * 'time': Works on daily and higher resolution data to interpolate
      given length of interval.
    * 'index', 'values': use the actual numerical values of the index.
    * 'pad': Fill in NaNs using existing values.
    * 'nearest', 'zero', 'slinear', 'quadratic', 'cubic',
      'barycentric', 'polynomial': Passed to
      `scipy.interpolate.interp1d`, whereas 'spline' is passed to
      `scipy.interpolate.UnivariateSpline`. These methods use the numerical
      values of the index.  Both 'polynomial' and 'spline' require that
      you also specify an `order` (int), e.g.
      ``df.interpolate(method='polynomial', order=5)``. Note that,
      `slinear` method in Pandas refers to the Scipy first order `spline`
      instead of Pandas first order `spline`.
    * 'krogh', 'piecewise_polynomial', 'spline', 'pchip', 'akima',
      'cubicspline': Wrappers around the SciPy interpolation methods of
      similar names. See `Notes`.
    * 'from_derivatives': Refers to
      `scipy.interpolate.BPoly.from_derivatives`.

axis : {{0 or 'index', 1 or 'columns', None}}, default None
    Axis to interpolate along. For `Series` this parameter is unused
    and defaults to 0.
limit : int, optional
    Maximum number of consecutive NaNs to fill. Must be greater than
    0.
inplace : bool, default False
    Update the data in place if possible.
limit_direction : {{'forward', 'backward', 'both'}}, Optional
    Consecutive NaNs will be filled in this direction.

    If limit is specified:
        * If 'method' is 'pad' or 'ffill', 'limit_direction' must be 'forward'.
        * If 'method' is 'backfill' or 'bfill', 'limit_direction' must be
          'backwards'.

    If 'limit' is not specified:
        * If 'method' is 'backfill' or 'bfill', the default is 'backward'
        * else the default is 'forward'

    raises ValueError if `limit_direction` is 'forward' or 'both' and
        method is 'backfill' or 'bfill'.
    raises ValueError if `limit_direction` is 'backward' or 'both' and
        method is 'pad' or 'ffill'.

limit_area : {{`None`, 'inside', 'outside'}}, default None
    If limit is specified, consecutive NaNs will be filled with this
    restriction.

    * ``None``: No fill restriction.
    * 'inside': Only fill NaNs surrounded by valid values
      (interpolate).
    * 'outside': Only fill NaNs outside valid values (extrapolate).

downcast : optional, 'infer' or None, defaults to None
    Downcast dtypes if possible.

    .. deprecated:: 2.1.0

``**kwargs`` : optional
    Keyword arguments to pass on to the interpolating function.

Returns
-------
Series or DataFrame or None
    Returns the same object type as the caller, interpolated at
    some or all ``NaN`` values or None if ``inplace=True``.

See Also
--------
fillna : Fill missing values using different methods.
scipy.interpolate.Akima1DInterpolator : Piecewise cubic polynomials
    (Akima interpolator).
scipy.interpolate.BPoly.from_derivatives : Piecewise polynomial in the
    Bernstein basis.
scipy.interpolate.interp1d : Interpolate a 1-D function.
scipy.interpolate.KroghInterpolator : Interpolate polynomial (Krogh
    interpolator).
scipy.interpolate.PchipInterpolator : PCHIP 1-d monotonic cubic
    interpolation.
scipy.interpolate.CubicSpline : Cubic spline data interpolator.

Notes
-----
The 'krogh', 'piecewise_polynomial', 'spline', 'pchip' and 'akima'
methods are wrappers around the respective SciPy implementations of
similar names. These use the actual numerical values of the index.
For more information on their behavior, see the
`SciPy documentation
<https://docs.scipy.org/doc/scipy/reference/interpolate.html#univariate-interpolation>`__.

Examples
--------
Filling in ``NaN`` in a :class:`~pandas.Series` via linear
interpolation.

>>> s = pd.Series([0, 1, np.nan, 3])
>>> s
0    0.0
1    1.0
2    NaN
3    3.0
dtype: float64
>>> s.interpolate()
0    0.0
1    1.0
2    2.0
3    3.0
dtype: float64

Filling in ``NaN`` in a Series via polynomial interpolation or splines:
Both 'polynomial' and 'spline' methods require that you also specify
an ``order`` (int).

>>> s = pd.Series([0, 2, np.nan, 8])
>>> s.interpolate(method='polynomial', order=2)
0    0.000000
1    2.000000
2    4.666667
3    8.000000
dtype: float64

Fill the DataFrame forward (that is, going down) along each column
using linear interpolation.

Note how the last entry in column 'a' is interpolated differently,
because there is no entry after it to use for interpolation.
Note how the first entry in column 'b' remains ``NaN``, because there
is no entry before it to use for interpolation.

>>> df = pd.DataFrame([(0.0, np.nan, -1.0, 1.0),
...                    (np.nan, 2.0, np.nan, np.nan),
...                    (2.0, 3.0, np.nan, 9.0),
...                    (np.nan, 4.0, -4.0, 16.0)],
...                   columns=list('abcd'))
>>> df
     a    b    c     d
0  0.0  NaN -1.0   1.0
1  NaN  2.0  NaN   NaN
2  2.0  3.0  NaN   9.0
3  NaN  4.0 -4.0  16.0
>>> df.interpolate(method='linear', limit_direction='forward', axis=0)
     a    b    c     d
0  0.0  NaN -1.0   1.0
1  1.0  2.0 -2.0   5.0
2  2.0  3.0 -3.0   9.0
3  2.0  4.0 -4.0  16.0

Using polynomial interpolation.

>>> df['d'].interpolate(method='polynomial', order=2)
0     1.0
1     4.0
2     9.0
3    16.0
Name: d, dtype: float64
File:      /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/pandas/core/generic.py
Type:      function

In [9]:
# Generate the full sequence
full_sequence = np.arange(0.5, 30.5, 0.5)
# Convert 'years' column of your DataFrame to a list
existing_years = ois_rates['years'].tolist()
# Remove the existing years from the full sequence
new_years = [year for year in full_sequence if year not in existing_years]

additional_years = pd.DataFrame({
    'years': new_years,
    'Rate': [np.nan]*len(new_years),
    'df': [np.nan]*len(new_years)
})
ois_rates = pd.concat([additional_years, ois_rates])
ois_rates = ois_rates.sort_values(by='years')
ois_rates['df'] = ois_rates['df'].interpolate(method='linear')
ois_rates['Product'] = "OIS"
ois_rates['cumsum_df'] = ois_rates['df'].cumsum()

ois_rates

    years     Rate        df Tenor Product  cumsum_df
0     0.5  0.00250       NaN    6m     OIS        NaN
1     1.0  0.00300  0.997009    1y     OIS   0.997009
0     1.5      NaN  0.995270   NaN     OIS   1.992279
2     2.0  0.00325  0.993531    2y     OIS   2.985810
1     2.5      NaN  0.991773   NaN     OIS   3.977583
3     3.0  0.00335  0.990015    3y     OIS   4.967598
2     3.5      NaN  0.988066   NaN     OIS   5.955664
4     4.0  0.00350  0.986117    4y     OIS   6.941780
3     4.5      NaN  0.984150   NaN     OIS   7.925931
5     5.0  0.00360  0.982184    5y     OIS   8.908115
4     5.5      NaN  0.979740   NaN     OIS   9.887854
5     6.0      NaN  0.977295   NaN     OIS  10.865149
6     6.5      NaN  0.974850   NaN     OIS  11.840000
6     7.0  0.00400  0.972406    7y     OIS  12.812405
7     7.5      NaN  0.969668   NaN     OIS  13.782073
8     8.0      NaN  0.966929   NaN     OIS  14.749002
9     8.5      NaN  0.964191   NaN     OIS  15.713194
10    9.0      NaN  0.961453   NaN     OIS  16.674647
11    9.5      NaN  0.958715   NaN     OIS  17.633362
7    10.0  0.00450  0.955977   10y     OIS  18.589339
12   10.5      NaN  0.953140   NaN     OIS  19.542479
13   11.0      NaN  0.950304   NaN     OIS  20.492783
14   11.5      NaN  0.947467   NaN     OIS  21.440250
15   12.0      NaN  0.944631   NaN     OIS  22.384881
16   12.5      NaN  0.941794   NaN     OIS  23.326675
17   13.0      NaN  0.938958   NaN     OIS  24.265633
18   13.5      NaN  0.936121   NaN     OIS  25.201754
19   14.0      NaN  0.933285   NaN     OIS  26.135038
20   14.5      NaN  0.930448   NaN     OIS  27.065486
8    15.0  0.00500  0.927611   15y     OIS  27.993098
21   15.5      NaN  0.924858   NaN     OIS  28.917956
22   16.0      NaN  0.922104   NaN     OIS  29.840060
23   16.5      NaN  0.919351   NaN     OIS  30.759411
24   17.0      NaN  0.916597   NaN     OIS  31.676008
25   17.5      NaN  0.913844   NaN     OIS  32.589852
26   18.0      NaN  0.911090   NaN     OIS  33.500942
27   18.5      NaN  0.908337   NaN     OIS  34.409279
28   19.0      NaN  0.905583   NaN     OIS  35.314862
29   19.5      NaN  0.902829   NaN     OIS  36.217691
9    20.0  0.00525  0.900076   20y     OIS  37.117767
30   20.5      NaN  0.897442   NaN     OIS  38.015210
31   21.0      NaN  0.894809   NaN     OIS  38.910019
32   21.5      NaN  0.892176   NaN     OIS  39.802194
33   22.0      NaN  0.889542   NaN     OIS  40.691736
34   22.5      NaN  0.886909   NaN     OIS  41.578645
35   23.0      NaN  0.884275   NaN     OIS  42.462920
36   23.5      NaN  0.881642   NaN     OIS  43.344562
37   24.0      NaN  0.879008   NaN     OIS  44.223570
38   24.5      NaN  0.876375   NaN     OIS  45.099945
39   25.0      NaN  0.873741   NaN     OIS  45.973686
40   25.5      NaN  0.871108   NaN     OIS  46.844794
41   26.0      NaN  0.868474   NaN     OIS  47.713269
42   26.5      NaN  0.865841   NaN     OIS  48.579109
43   27.0      NaN  0.863207   NaN     OIS  49.442317
44   27.5      NaN  0.860574   NaN     OIS  50.302891
45   28.0      NaN  0.857941   NaN     OIS  51.160832
46   28.5      NaN  0.855307   NaN     OIS  52.016139
47   29.0      NaN  0.852674   NaN     OIS  52.868812
48   29.5      NaN  0.850040   NaN     OIS  53.718852
10   30.0  0.00550  0.847407   30y     OIS  54.566259